# Flutter specific files and directories
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
**/build/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/.last_build_id
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ/Android Studio specific files
*.iml
*.ipr
.idea/
.idea/modules.xml
.idea/.name
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries/
.idea/libraries/
.idea/caches/
.idea/shelf/
.idea/modules/
.idea/modules.xml
.idea/assetWizardSettings.xml
.idea/jarRepositories.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/httpRequests

# User-specific files
*.iws
*.swp
*.swo
*.swn
*.bak
*.tmp

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Xcode specific files
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/xcuserdata
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/.generated/
**/ios/Flutter/.last_build_id

# Keystore files (uncomment if you don't want to include them)
#*.jks
#*.keystore

# Generated files
*.class
*.dex
*.apk
*.aar
*.ap_
*.aab

# Gradle files
.gradle/
**/gradle-wrapper.jar
**/local.properties
**/captures/
**/out/
.gradle/
build/

# Log files
*.log
*.hprof

# Crash logs
hs_err_pid*

# Fastlane files
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Ignore generated Javascript files from dart2js
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map

# Lcov coverage directory
coverage/
!coverage/.gitkeep

# Generated documentation files
doc/api/

# Sensitive or high-churn files
*.env
*.env.*
.env
.env.*

# Flutter package-specific files
lib/generated_plugin_registrant.dart

# Android Studio specific files
.externalNativeBuild
.cxx/

# VSCode specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Exceptions to rules
!/gradle/wrapper/gradle-wrapper.jar